/*[fmt]1A40-0A0A-E*/
/*------------------------------------*\
GLOBAL
\*------------------------------------*/
body {
    background:#FFFFFF;
    width:100%;
}
body,
input,
textarea,
select,
button {
    font:11px/18px Verdana, Arial, sans-serif;
    color:#000;
}
a {
    color:#1259C7;
    text-decoration:none;
}
h1 {
    color:#082320;
    font-size:1.3em;
    font-weight:bold;
}
/*------------------------------------*\
$HEADER
\*------------------------------------*/
#header {
}
#logo {
}
/*------------------------------------*\
$FOOTER
\*------------------------------------*/
#footer {
}
/*------------------------------------*\
$DEFAULT-FORMATTING
\*------------------------------------*/
.def em {
    font-style:italic;
}
.def strong,
.def b {
    font-weight:bold;
}
.def em strong,
.def em b,
.def strong em,
.def strong b {
    font-style:italic;
    font-weight:bold;
}
.def i {
    font-style:italic;
}
.def p {
    line-height:16px;
    margin:16px 0;
}
.def a {
    text-decoration:underline;
}
.def ul,
.def ol {
    margin-bottom:20px;
    margin-left:20px;
}
.def ul {
    list-style-type:disc;
    clear:both;
}
.def ol {
    list-style-type:decimal;
    clear:both;
}
* html .def ol {
    margin-left:25px;
}
.def ul ol,
.def ol ol,
.def ul ul,
.def ol ul {
    margin-bottom:0px;
}
.def ul li,
.def ol li {
    line-height:18px;
}
.def img {
    margin:20px;
    display:inline;
}
.def blockquote {
    padding:0 0 0 20px;
    margin:0 0 10px;
}
/*------------------------------------*\
$COLUMNS
\*------------------------------------*/
.col {
    float:left;
    min-height:1px;
}
* html .col {
    height:1px;
}
.col01 {
    margin:0 25px 0 0;
    width:204px;
}
.col02 {
    width:560px;
}
/*------------------------------------*\
$PAGINATION
\*------------------------------------*/
.pagination {
    border-top:1px solid #DDD;
    clear:both;
    margin:0 0 0.5em;
    padding:2.5em 0 1em;
    text-align:center;
}
.pagination a {
    background:#FFFFFF;
    border:1px solid #999;
    text-decoration:none;
}
.pagination a:hover {
    background:#3774D0;
    color:#FFFFFF;
}
.pagination a,
.pagination span {
    padding:0.3em 0.5em;
}
.pagination a.pn {
    border:1px solid #FFF;
}
.pagination a.pn b {
    font-weight:normal;
}
.pagination a.pn:hover {
    border:1px solid #999;
}
.pagination p {
    color:#999;
}
/*------------------------------------*\
$MESSAGES
\*------------------------------------*/
.msg-error,
.msg-success,
.msg-note {
    margin:10px 0;
    padding:5px 10px;
    /*+border-radius:5px;*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px 5px 5px 5px;
    clear:both;
    border-width:1px;
    border-style:solid;
    overflow:hidden;
}
.msg-error p,
.msg-success p,
.msg-note p {
    margin:5px 0;
}
.msg-error {
    background-color:#FFE5E5;
    border-color:#EF5435;
}
.msg-error p {
    color:#E42600;
}
.msg-success {
    background-color:#F1FDE8;
    border-color:#83EB44;
}
.msg-success p {
    color:#3B3B3B;
}
.msg-note {
    background-color:#F9F6C1;
    border-color:#EED860;
}
.msg-note p {
    color:#3B3B3B;
}
/*------------------------------------*\
$OTHER
\*------------------------------------*/
.hidden {
    display:none;
}
.hidden2 {
    position:absolute;
    top:-2000px;
}
.lfloat {
    float:left;
}
.rfloat {
    float:right;
}
.sidefloat {
    display:table-cell;
    vertical-align:top;
    width:10000px;
    =display:block;
    =zoom:1;
    =width:auto;
}
.aleft {
    text-align:left;
}
.aright {
    text-align:right;
}
.clear {
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    width:0;
    visibility:hidden;
}
.clearfix:after {
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    width:0;
    visibility:hidden;
}
.clearfix {
    display:inline-block;
}
* html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
}
.no-underline {
    text-decoration:none !important;
}
.hidden {
    display:none;
}
/*------------------------------------*\
$CONTENTS
\*------------------------------------*/
#content {
}
