.textinput1{display:inline-block}
.textinput1 .input{background:url("../images/base/textinput1.gif");display:block;vertical-align:middle}
.textinput1 .input input{background:url("../images/1x1.png");border:0;font-size:11px;font-weight:normal;height:13px;line-height:13px;margin:0 !important;padding:8px 10px 9px;vertical-align:middle;width:280px}
.error .textinput1 .input{background-image:url("../images/base/textinput1Error.gif")}
/* Other stuff; before .textinput*/
.frmcaption{clear:both;display:block;font-weight:bold;line-height:14px;padding:0 0 2px 10px}
.error .frmcaption{color:#DB002E}
.frmrow{display:block;margin:10px 0 14px 0;padding-left:10px}