/*[fmt]0A40-0A0A-A*/
/*------------------------------------*\
GLOBAL
\*------------------------------------*/
body{
    background:#FFFFFF;
    width:100%;
}
body,input,textarea,select,button{
    font:11px/18px Verdana, Arial, sans-serif;
    color:#000;
}
a{
    color:#1259C7;
    text-decoration:none;
}
h1{
    color:#082320;
    font-size:1.3em;
    font-weight:bold;
}
/*------------------------------------*\
$HEADER
\*------------------------------------*/
#header{
}
#logo{
}
/*------------------------------------*\
$FOOTER
\*------------------------------------*/
#footer{
}
/*------------------------------------*\
$CONTENTS
\*------------------------------------*/
#content{
}
/*--- DEF ---*/
.def em{
    font-style:italic;
}
.def strong,.def b{
    font-weight:bold;
}
.def em strong,.def em b,.def strong em,.def strong b{
    font-style:italic;
    font-weight:bold;
}
.def i{
    font-style:italic;
}
.def p{
    line-height:16px;
    margin:16px 0;
}
.def a{
    text-decoration:underline;
}
.def ul,.def ol{
    margin-bottom:20px;
    margin-left:20px;
}
.def ul{
    list-style-type:disc;
    clear:both;
}
.def ol{
    list-style-type:decimal;
    clear:both;
}
* html .def ol{
    margin-left:25px;
}
.def ul ol,.def ol ol,.def ul ul,.def ol ul{
    margin-bottom:0px;
}
.def ul li,.def ol li{
    line-height:18px;
}
.def img{
    margin:20px;
    display:inline;
}
.def blockquote{
    padding:0 0 0 20px;
    margin:0 0 10px;
}
/*--- COLUMNS ---*/
.col{
    float:left;
    min-height:1px;
}
* html .col{
    height:1px;
}
.col01{
    margin:0 25px 0 0;
    width:204px;
}
.col02{
    width:560px;
}
/*--- PAGINATION ---*/
.pagination{
    border-top:1px solid #DDD;
    clear:both;
    margin:0 0 0.5em;
    padding:2.5em 0 1em;
    text-align:center;
}
.pagination a{
    background:#FFFFFF;
    border:1px solid #999;
    text-decoration:none;
}
.pagination a:hover{
    background:#3774D0;
    color:#FFFFFF;
}
.pagination a,.pagination span{
    padding:0.3em 0.5em;
}
.pagination a.pn{
    border:1px solid #FFF;
}
.pagination a.pn b{
    font-weight:normal;
}
.pagination a.pn:hover{
    border:1px solid #999;
}
.pagination p{
    color:#999;
}
/*--- MESSAGES ---*/
.msg-error{
    background-color:#FFE5E5;
    border:2px solid #EF5435;
    clear:both;
    margin:0px 0px 10px;
    overflow:hidden;
    padding:10px 10px 5px;
    position:relative;
}
.msg-error p{
    color:#E42600;
    margin:0px 0px 5px;
}
.msg-error ul,.msg-error ol{
    color:#E42600;
    margin:0px 0px 5px 20px;
}
.msg-success{
    background-color:#F1FDE8;
    border:2px solid #83EB44;
    clear:both;
    margin:0px 0px 10px;
    overflow:hidden;
    padding:10px 10px 5px;
    position:relative;
}
.msg-success p{
    color:#3B3B3B;
    margin:0px 0px 5px;
}
.msg-success ul,.msg-success ol{
    margin:0px 0px 5px 20px;
}
.msg-note{
    background-color:#F9F6C1;
    border:2px solid #EED860;
    clear:both;
    margin:0px 0px 10px;
    overflow:hidden;
    padding:10px 10px 5px;
    position:relative;
}
.msg-note p{
    color:#3B3B3B;
    margin:0px 0px 5px;
}
.msg-note ul,.msg-note ol{
    margin:0px 0px 5px 20px;
}
/*--- OTHER ---*/
.hidden{
    display:none;
}
.hidden2{
    position:absolute;
    top:-2000px;
}
.lfloat{
    float:left;
}
.rfloat{
    float:right;
}
.sidefloat{
    display:table-cell;
    vertical-align:top;
    width:10000px;
    =display:block;
    =zoom:1;
    =width:auto;
}
.aleft{
    text-align:left;
}
.aright{
    text-align:right;
}
.clear{
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    width:0;
    visibility:hidden;
}
.clearfix:after{
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    width:0;
    visibility:hidden;
}
.clearfix{
    display:inline-block;
}
* html .clearfix{
    height:1%;
}
.clearfix{
    display:block;
}
.no-underline{
    text-decoration:none !important;
}
.hidden{
    display:none;
}
