.htmlwarrior,
.htmlwarrior input,
.htmlwarrior textarea,
.htmlwarrior select,
.htmlwarrior button {
	font-family: Verdana, Arial, serif !important;
	line-height: 20px !important;
	text-align: left !important;
	font-size: 11px !important
}
.htmlwarrior a { color: #0066CC !important; text-decoration: none !important   }
.htmlwarrior a:hover { text-decoration: underline !important }

#htmlwarrior__pagelist, #htmlwarrior__actionlist, #htmlwarrior__imageoverlaycontrols {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
    border-right:1px solid gray;
    border-bottom:1px solid gray;
	border-left:1px solid gray;
    -moz-box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    -webkit-box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    -o-box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    filter:alpha(opacity=95);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    -moz-opacity:0.95;
    opacity:0.95;
    -moz-border-radius:0 0 5px 0;
    -webkit-border-radius:0 0 5px 0;
    -khtml-border-radius:0 0 5px 0;
    border-radius:0 0 5px 0;
    position: fixed;
    top:-210px;
    left:-2000px;
}

#htmlwarrior__pagelist table,
#htmlwarrior__actionlist table{border-collapse:collapse;border-spacing:0;font-size:inherit}

#htmlwarrior__pagelist td,
#htmlwarrior__actionlist td {padding: 0; margin: 0;}


#htmlwarrior__pagelist-inner, #htmlwarrior__actionlist-inner {
  padding: 210px 20px 15px 207px;
  filter:alpha(opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity:1;
    opacity:1;
 }

 #htmlwarrior__actionlist {
    -moz-border-radius:0 5px 0 0;
    -webkit-border-radius:0 5px 0 0;
    -khtml-border-radius:0 5px 0 0;
    border-radius:0 5px 0 0;
    bottom: -210px;
    top:auto;
 }
 #htmlwarrior__actionlist-inner {
  padding-top: 15px;
  padding-bottom: 210px;
 }

.htmlwarrior_templatelist a { text-decoration: none !important; color:white; line-height:20px; text-align:left; }
.htmlwarrior_templatelist a:hover { text-decoration: underline !important; }
.htmlwarrior_templatelist_active { color:red !important;font-weight:bold !important; }


/* Image overlay */
#htmlwarrior__imageoverlaycontrols_wrap {
	position: fixed;
	top: 0;
	right: 0;
}
#htmlwarrior__imageoverlaycontrols_mousehook {
    background:url('/_htmlwarrior/admin/images/trans.gif');
	position: absolute;
	top: 0;
	right: 0;
	height: 5px;
	width: 170px;

}
#htmlwarrior__imageoverlaycontrols {
	left: auto;
	right: -200px;
	-moz-border-radius:0 0 0 5px;
    -webkit-border-radius:0 0 0 5px;
    -khtml-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}

#htmlwarrior__imageoverlaycontrols-inner {
  padding: 220px 220px 10px 20px;
  filter:alpha(opacity=100) !important;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
    -moz-opacity:1 !important;
    opacity:1 !important;
  width: 130px;
}
.htmlwarrior__imageoverlaycontrols-row { padding: 5px 0 !important; }
.htmlwarrior__imageoverlaycontrols-caption { font-weight: bold !important; }
.htmlwarrior__imageoverlaycontrols-mover { overflow: hidden !important; }
.htmlwarrior__imageoverlaycontrols-mover-input {
  background: #F9F9F9 !important;
  border: 1px solid #CCCCCC !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset !important;
  line-height: 14px !important;
  height: 14px !important;
  padding: 2px !important;
  width: 86px !important;
  float: left !important;
  margin: 0 3px !important;
}
#htmlwarrior__imageoverlaycontrols .htmlwarrior__imageoverlaycontrols-mover-input { text-align: center !important; }
.htmlwarrior__imageoverlaycontrols-mover-decrease,
.htmlwarrior__imageoverlaycontrols-mover-increase{ width: 16px !important; height: 20px !important; background-position: 50% 50% !important; background-repeat: no-repeat !important; float:left !important; cursor: pointer !important; }
.htmlwarrior__imageoverlaycontrols-xmover .htmlwarrior__imageoverlaycontrols-mover-decrease { background-image:url('/_html-warrior/admin/images/arrow-left.png') !important }
.htmlwarrior__imageoverlaycontrols-xmover .htmlwarrior__imageoverlaycontrols-mover-increase { background-image:url('/_html-warrior/admin/images/arrow-right.png') !important }
.htmlwarrior__imageoverlaycontrols-ymover .htmlwarrior__imageoverlaycontrols-mover-decrease { background-image:url('/_html-warrior/admin/images/arrow-down.png') !important }
.htmlwarrior__imageoverlaycontrols-ymover .htmlwarrior__imageoverlaycontrols-mover-increase { background-image:url('/_html-warrior/admin/images/arrow-up.png') !important }



/*
 * jQuery UI Slider 1.8.13 
 */
#htmlwarrior__imageoverlaycontrols-opacity-slider{
    height: 0.8em;
    position: relative;
    text-align: left;
    border-radius: 4px 4px 4px 4px;
    background: url("/_html-warrior/admin/images/jquery-ui/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
}
#htmlwarrior__imageoverlaycontrols-opacity-slider .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
	background: url("/_html-warrior/admin/images/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
	border-radius: 4px 4px 4px 4px;
	    background: url("/_html-warrior/admin/images/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;

}
#htmlwarrior__imageoverlaycontrols-opacity-slider .ui-state-hover, #htmlwarrior__imageoverlaycontrols-opacity-slider .ui-state-focus{ border: 1px solid #999999; background: #dadada url(/_html-warrior/admin/images/jquery-ui/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; } 


/*
Z-indexes
*/
#htmlwarrior__pagelist, #htmlwarrior__actionlist, #htmlwarrior__imageoverlaycontrols {
    z-index: 99997;
}
#htmlwarrior__imageoverlaycontrols_mousehook {
	z-index: 99998;
}
#htmlwarrior_draggable_handle {
	position: absolute;
    z-index : 99999;
    display : block;
    cursor: move;
    width: 50px;
    height: 50px;
    background:url('/_htmlwarrior/admin/images/trans.gif');
}

/*
Buttons
*/
.htmlwarrior__imageoverlaycontrols-row-buttons { overflow: hidden; padding: 5px 0; }
.htmlwarrior__imageoverlaycontrols-row-buttons .htmlwarrior__imageoverlaycontrols-row-button {
	background: #2DAEBF !important;
	float: left !important;
	padding: 5px 10px 6px !important;
	color: #FFFFFF !important;
	text-decoration: none;
	font-weight: bold;
	line-height: 1 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	position: relative !important;
	cursor: pointer !important;
	margin-right: 5px !important;
}
.htmlwarrior__imageoverlaycontrols-row-buttons .htmlwarrior__imageoverlaycontrols-row-button:hover {
	background-color: #007d9a !important;
	text-decoration: none !important;
}