.htmlwarrior,
.htmlwarrior input,
.htmlwarrior textarea,
.htmlwarrior select,
.htmlwarrior button {
	font-family: Verdana, Arial, serif !important;
	line-height: 20px !important;
	text-align: left !important;
	font-size: 11px !important
}
.htmlwarrior a { color: #0066CC !important; text-decoration: none !important   }
.htmlwarrior a:hover { text-decoration: underline !important }

#htmlwarrior__pagelist, #htmlwarrior__actionlist, #htmlwarrior__imageoverlay {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
    border-right:1px solid gray;
    border-bottom:1px solid gray;
	border-left:1px solid gray;
    -moz-box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    -webkit-box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    -o-box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    box-shadow:5px 5px 100px rgba(0, 0, 0, 1);
    filter:alpha(opacity=95);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    -moz-opacity:0.95;
    opacity:0.95;
    -moz-border-radius:0 0 5px 0;
    -webkit-border-radius:0 0 5px 0;
    -khtml-border-radius:0 0 5px 0;
    border-radius:0 0 5px 0;
    position: fixed;
    top:-210px;
    left:-2000px;
    z-index: 10000;
}

#htmlwarrior__pagelist table,
#htmlwarrior__actionlist table{border-collapse:collapse;border-spacing:0;font-size:inherit}

#htmlwarrior__pagelist td,
#htmlwarrior__actionlist td {padding: 0; margin: 0;}


#htmlwarrior__pagelist-inner, #htmlwarrior__actionlist-inner {
  padding: 210px 20px 15px 207px;
  filter:alpha(opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity:1;
    opacity:1;
 }

 #htmlwarrior__actionlist {
    -moz-border-radius:0 5px 0 0;
    -webkit-border-radius:0 5px 0 0;
    -khtml-border-radius:0 5px 0 0;
    border-radius:0 5px 0 0;
    bottom: -210px;
    top:auto;
 }
 #htmlwarrior__actionlist-inner {
  padding-top: 15px;
  padding-bottom: 210px;
 }

.htmlwarrior_templatelist a { text-decoration: none !important; color:white; line-height:20px; text-align:left; }
.htmlwarrior_templatelist a:hover { text-decoration: underline !important; }
.htmlwarrior_templatelist_active { color:red !important;font-weight:bold !important; }


#htmlwarrior__imageoverlay {
	left: auto;
	right: -210px;
	-moz-border-radius:0 0 0 5px;
    -webkit-border-radius:0 0 0 5px;
    -khtml-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}

#htmlwarrior__imageoverlay-inner {
  padding: 210px 207px 15px 20px;
  filter:alpha(opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity:1;
    opacity:1;
}




/*
 * jQuery UI Slider 1.8.13 
 */
#htmlwarrior__imageoverlay-opacity-slider{
    height: 0.8em;
    position: relative;
    text-align: left;
    border-radius: 4px 4px 4px 4px;
    background: url("/_html-warrior/admin/images/jquery-ui/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
}
#htmlwarrior__imageoverlay-opacity-slider .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
	background: url("/_html-warrior/admin/images/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
	border-radius: 4px 4px 4px 4px;
	    background: url("/_html-warrior/admin/images/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;

}
#htmlwarrior__imageoverlay-opacity-slider .ui-state-hover, #htmlwarrior__imageoverlay-opacity-slider .ui-state-focus{ border: 1px solid #999999; background: #dadada url(/_html-warrior/admin/images/jquery-ui/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; } 