/*[fmt]0000-000A-A*/
/*
Global
*/
body{background:#FFFFFF url(../images/base/bg.gif) repeat;color:#000;width:100%;}
body,input,textarea,select,button{font:12px/18px Verdana, Arial, sans-serif;}
a{color:#1259C7;text-decoration:none;}
a:hover{text-decoration:underline;}
h1{color:#082320;font-size:1.3em;font-weight:bold;}
#header,#newsite,#content{width:960px;margin:0 auto;}
/*
Header
*/
#header{padding-bottom:20px;padding:10px;overflow:hidden;background-color:#F2F2F2;/*+border-radius:5px 5px 0 0;*/-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-khtml-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;margin-top:10px;}
#header .logo{font-size:20px;/*+text-shadow:-1px -1px #FFFFFF;*/-moz-text-shadow:-1px -1px #FFFFFF;-webkit-text-shadow:-1px -1px #FFFFFF;-o-text-shadow:-1px -1px #FFFFFF;text-shadow:-1px -1px #FFFFFF;padding-top:5px;}
#filter{width:300px;border:1px solid #808080;padding:3px 5px;}
#newsite{background-color:#CCCCCC;padding:5px 10px;margin-bottom:8px;}
/*
Content
*/
#content{}
/*
Footer
*/
#footer{}
/*
Def
*/
.def em{font-style:italic;}
.def strong,.def b{font-weight:bold;}
.def em strong,.def em b,.def strong em,.def strong b{font-style:italic;font-weight:bold;}
.def i{font-style:italic;}
.def p{line-height:16px;margin:16px 0;}
.def a{text-decoration:underline;}
.def ul,.def ol{margin-bottom:20px;margin-left:20px;}
.def ul{list-style-type:disc;clear:both;}
.def ol{list-style-type:decimal;clear:both;}
* html .def ol{margin-left:25px;}
.def ul ol,.def ol ol,.def ul ul,.def ol ul{margin-bottom:0px;}
.def ul li,.def ol li{line-height:18px;}
.def img{margin:20px;}
.def blockquote{padding:0 0 0 20px;margin:0 0 10px;}
/*
Columns
*/
.col{float:left;min-height:1px;}
* html .col{height:1px;}
.col01{margin:0 25px 0 0;width:295px;}
.col02{width:560px;}
/*
Pagination
*/
.pagination{border-top:1px solid #DDD;clear:both;margin:0 0 0.5em;padding:2.5em 0 1em;text-align:center;}
.pagination a{background:#FFFFFF;border:1px solid #999;text-decoration:none;}
.pagination a:hover{background:#3774D0;color:#FFFFFF;}
.pagination a,.pagination span{padding:0.3em 0.5em;}
.pagination a.pn{border:1px solid #FFF;}
.pagination a.pn b{font-weight:normal;}
.pagination a.pn:hover{border:1px solid #999;}
.pagination p{color:#999;}
/*
Messages
*/
.msg-error{background-color:#FFE5E5;border:2px solid #EF5435;clear:both;margin:0px 0px 10px;overflow:hidden;padding:10px 10px 5px;position:relative;}
.msg-error p{color:#E42600;margin:0px 0px 5px;}
.msg-error ul,.msg-error ol{color:#E42600;margin:0px 0px 5px 20px;}
.msg-success{background-color:#F1FDE8;border:2px solid #83EB44;clear:both;margin:0px 0px 10px;overflow:hidden;padding:10px 10px 5px;position:relative;}
.msg-success p{color:#3B3B3B;margin:0px 0px 5px;}
.msg-success ul,.msg-success ol{margin:0px 0px 5px 20px;}
.msg-note{background-color:#F9F6C1;border:2px solid #EED860;clear:both;margin:0px 0px 10px;overflow:hidden;padding:10px 10px 5px;position:relative;}
.msg-note p{color:#3B3B3B;margin:0px 0px 5px;}
.msg-note ul,.msg-note ol{margin:0px 0px 5px 20px;}
/*
Other
*/
.hidden{display:none;}
.hidden2{position:absolute;top:-2000px;}
.lfloat{float:left;}
.rfloat{float:right;}
.lfloat2,.rfloat2,.sidefloat{display:table-cell;vertical-align:top;width:10000px;=display:block;=zoom:1;=width:auto;}
.aleft{text-align:left;}
.aright,.latest-offers .aright{text-align:right;}
.clear{clear:both;display:block;height:0;overflow:hidden;width:0;visibility:hidden;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;width:0;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.no-underline{text-decoration:none !important;}
.hidden{display:none;}
